.wrap{
    width:70%;
    min-height: 100vh;
    background-color: #61082b;
}

.title{
    text-align: center;
    // color: #b8d9ef;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 5rem;
}

.list{
    list-style-type: none;
}