.wrap{
    width:70%;
    min-height: 100vh;
    padding: 2rem 4rem;
    box-sizing: border-box;
    background-color: #61082b;
}

.title{
    text-align: center;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 5rem;
}

.itemsWrap{
    padding: 0;
}

@media only screen and (max-width:36em){
    .wrap{
        width: 100%;
        order: 2;
    }
}