@import "../../styles/variables.scss";
.wrap {
  width: 30%;
  padding: 5rem 3rem;
  background: linear-gradient(180deg, $c-secondary, silver);
  box-sizing: border-box;
}

.title {
  font-family: "Urbanist", sans-serif;
  font-size: 4rem;
}

.form {
  max-width: 40rem;
  margin: 0 auto;
}

.filterOption {
  display: block;
  width: 100%;
  height: 3rem;
  margin-bottom: 3rem;
  color: black;
  box-sizing: border-box;
}
.sortOption {
  display: block;
  width: 100%;
  height: 3rem;
  margin-bottom: 3rem;
}

.label {
  display: block;
  margin-bottom: 1rem;
  color: #757575;
  font-size: 1.8rem;
}

.button {
  border-radius: 2rem;
  background-color: lighten($c-primary, 5);
  height: 4rem;
  width: 100%;
  border: none;
  font-weight: 700;
  font-size: 1.8rem;
  color: $c-secondary;

  &:hover {
    cursor: pointer;
    background-color: darken($c-primary, 10);
  }
}

@media only screen and (max-width: 74em) {
  .title {
    font-size: 3.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 48em) {
  .wrap {
    padding: 5rem 1rem;
  }
  .title {
    font-size: 3rem;
    text-align: center;
  }
}

@media only screen and (max-width: 36em) {
  .wrap {
    width: 100%;
    order: 1;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    filter: drop-shadow(0 10px 15px black);
  }
  .title {
    margin-top: 0;
    font-size: 4rem;
  }
}
