@import "./styles/variables.scss";
.wrap {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: $c-primary;
}

@media only screen and (max-width: 36em) {
  .wrap {
    flex-direction: column;
  }
}
